<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boha.monitor.library"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:maxSdkVersion="20"
        android:minSdkVersion="15"
        android:targetSdkVersion="20" />

    <application android:label="@string/app_name" >
        <receiver
            android:name="com.com.boha.monitor.library.services.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.boha.malengagolf.admin" />
            </intent-filter>
        </receiver>

        <service android:name="com.com.boha.monitor.library.services.GcmIntentService" />

        <activity android:name="com.com.boha.monitor.library.MainPagerActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.com.boha.monitor.library.SitePagerActivity" />
        <activity
            android:name="com.com.boha.monitor.library.TaskStatusNotificationActivity"
            android:label="@string/title_activity_task_status_notification" >
        </activity>

        <service
            android:name="com.com.boha.monitor.library.services.PhotoUploadService"
            android:exported="false" >
        </service>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
