<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boha.monitor.library"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:label="@string/app_name" >
        <receiver
            android:name="com.com.boha.monitor.library.services.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.boha.monitor.library" />
            </intent-filter>
        </receiver>

        <service android:name="com.com.boha.monitor.library.services.GcmIntentService" />
        <service
            android:name="com.com.boha.monitor.library.services.PhotoUploadService"
            android:exported="false" />

        <activity
            android:name="com.com.boha.monitor.library.StatusReportActivity"
            android:label="@string/title_activity_status_report" >
        </activity>
        <activity
            android:name="com.com.boha.monitor.library.SubTaskActivity"
            android:label="@string/title_activity_sub_task" >
        </activity>
        <activity
            android:name="com.com.boha.monitor.library.SubTaskStatusAssignmentActivity"
            android:label="@string/title_activity_sub_task_status_assignment" >
        </activity>
    </application>

</manifest>
